/* 
@font-face {
    font-family: "Montserrat";
    src: url(https://fonts.google.com/specimen/Montserrat?subset=cyrillic);
  } */
  body{
    font-family: 'Times New Roman', Times, serif;
   color: #424243;
   margin: 0;
  }
  a{
    color: #424243;
    text-decoration: none; 
  }
  ul, ol{
    margin: 0;
    padding: 0;
  }
  .container{
    max-width: 1024px;
    margin: 0 auto;
  }
.container-body{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left-column{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    padding: 30px 15px 0 15px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.header h3{
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5{
    margin: 10px;
}
.first-last-name{
    text-align: center;
    margin: 0;
}
.first-last-name span{
    display: block;
    font-weight: 900;
}
.icon{
    width: 15px;
}
.my-photo{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    overflow: hidden;
    margin-bottom: 30px;
}
.my-photo img{
    width: 100%;
}
.container-color{
    background-color: #bed8ec;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.title-info{
    width: 180px;
    height: 40px;
    background-color: #424243;
    color: white;
    text-align: center;
    position: relative;
    top: -20px;
}
h2{
    font-size: 18px;
}
.contact-info{
    margin-top: -10px;
}
.row-info{
    margin-bottom: 10px;
}
.contact-info{
    margin: 10px 0;
}
.contact-info p{
    display: inline;
    margin-left: 10px;
    font-size: 14px;
}
.icon-linkedin{
    width: 14px;
    height: 14px;
    display: inline-flex;
    border-radius: 8px;
    background-color: #424243;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.right-column{
    display: flex;
    flex-direction: column;
    padding: 50px 15px 0 15px;
    max-width: 650px;
    height: 100vh;
}
.card-content{
    margin-bottom: 20px;
}
.title-card-content{
    display: flex;
}
.title-card-content h2{
    display: inline;
    font-weight: 600;
    min-width: 100%;
}
.icon-content{
    width: 40px;
}
hr{
    margin: -10px 0 0 50px;
    max-width: 100vh;
    height: 2px;
    border: none;
    background-color: #424243;
}
.projects ol,
.experience ul{
    margin-left: 20px;
}
.projects > a{
    color: red;
}
.projects > a:hover{
    transition: 1s;
    color: rgb(255, 255, 255);
    background-color:#bed8ec;
}
.info-aducation,
.experience{
    margin-top: 20px;
}
.experience span{
    color: red;
}
.right-column .contact-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0;
}
.text{
    display: none;
}
@media (max-width: 768px){
    .right-column p,
    .right-column h4,
    .right-column h5,
    .right-column ul,
    .right-column ol,
    .faculty{
        font-size: 12px;
    }
    .container-color{
        max-width: 300px;
    }
} 
@media (max-width: 600px){
    .header{
        padding: 0;
    }
    .container-body{
        flex-direction: column;
        align-items: center;
    }
    .container-color{
       width: 100vh;
        padding: 0 10px 0 20px;
    }
    .title-info{
        margin-bottom: 2px;
    }
    .contact-info{
        margin: -20px 0 20px 0;
    }
    .card{
        margin: 0;
    }
    .right-column{
        padding: 10px 40px 10px 40px;
    }
    .right-content{
        display: none;
        margin: 0 15px;
    }
    .text{
        display: inline-block;
        height: 15px;
        border: 1px solid #424243;
        border-radius: 15px;
        text-align: center;
        margin: 20px 0 10px 70px;
        padding: 0 4px;
        font-size: 14px;
        font-style: italic;
        background-color: #bed8ec;
    }
    .text:hover{
        cursor: pointer;
    }
    .hide-details{
        width: 64px;
        margin: 20px 0 20px 50px;
        font-size: 10px;
        font-weight: 800;
        border: 1px solid #424243;
        border-radius: 8px;
        padding: 0 10px;
    }
    .hide-details:hover{
        cursor: pointer;
        background-color: #bed8ec;
    }
    .card-content{
        margin-bottom: 0;
    }
}
@media (max-width: 480px){
    
}
@media (max-width: 320px){
    
}